# SwiftFormat configuration for Egg.

--swiftversion 6.2
--indent 4
--indentcase false
--stripunusedargs closure-only

--disable redundantSwiftTestingSuite
--disable swiftTestingTestCaseNames

--exclude .build
--exclude .swiftpm
--exclude .nest
--exclude E2ETestsPackage/.build
--exclude "**/.build/**"
--exclude "**/.swiftpm/**"
